<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-light">
    <div class="container-fluid px-3 py-1">
        <a class="navbar-brand brand-color"  href="#">Tour of heroes</a>
             
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav d-inline-flex ms-5">
                <app-nav-link name="Dashboard" href="/dashboard"></app-nav-link>
                <app-nav-link name="Heroes" href="/heroes"></app-nav-link>
            </ul>
        </div>
    </div>
</nav>