<div class="container py-4">
   
        <div class="input-group my-3 d-flex justify-content-center" >
            <input type="text" class="form-control search-box" 
                placeholder="Pesquise por um herói"
                arial-label="Pesquise por um herói"
                #searchBox
                (input)="search(searchBox.value)">
    </div>
    


    <div class="container-md d-flex flex-row justify-content-around align-content-between flex-wrap mx-auto my-4">
        <div class="mb-2 mb-md-0" *ngFor="let hero of heroes$ | async">
            <app-dashboard-card link="/detail/{{hero.id}}" name="{{hero.name}}"></app-dashboard-card>
        </div>
    </div>

</div>